html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #4461fa;
  --substate-color: #eeeeee;
  --white-color: #ffffff;
  --black-color: #222127;
  --text-color: rgba(34, 33, 39, 0.7);
}

.my-container {
  max-width: 1170px;
  margin: 0 auto;
}

/* Хедер */

.wrapped-container {
  background-image: url(../images/image\ 242.png);
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  margin-top: 30.5px;
  margin-bottom: 24.5px;
}

.logo-pic {
  padding-top: 3px;
}

.logo-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  color: rgba(34, 33, 39, 0.5);
  padding-left: 10px;
}
.coloured-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  color: var(--black-color);
}

.navbar {
  display: flex;
  margin-top: 33px;
  margin-bottom: 27px;
}

.nav-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: var(--text-color);
  padding-right: 49px;
}

.phone {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 14px;
}

.phone-number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--black-color);
  padding-bottom: 6px;
}

.order-call {
  padding-left: 62px;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: var(--main-color);
}

/* Главный баннер */
.jumbotron {
  margin-top: 105px;
}

.location {
  display: inline-flex;
  padding: 8px 13px;
  border: 1.5px solid var(--main-color);
  border-radius: 30px;
}

.loc-img {
}

.loc-text {
  padding-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-color);
}

.jumbo-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.jumbo-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--text-color);
  margin-bottom: 30px;
}

.form {
  display: flex;
}

.form-input {
  border: none;
  width: 360px;
  border-radius: 7px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(34, 33, 39, 0.5);
  padding: 15px 25px 15px 50px;
}

.form-wrapper {
  position: relative;
}

.form-wrapper::before {
  background: url(../images/Phone.svg) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px;
  margin: auto 0;
  width: 20px;
  height: 20px;
}

.form-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--white-color);
  padding: 13px 44px;
  border-radius: 30px;
  background: var(--main-color);
  border: none;
  margin-left: 15px;
}

.form-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 148%;
  margin-top: 15px;
  color: rgba(38, 38, 38, 0.4);
  padding-bottom: 115px;
}

/* Категории */

.row {
  display: flex;
  justify-content: space-between;
}

.category-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
  color: var(--black-color);
  margin-bottom: 55px;
}

.category {
  margin-top: 100px;
  margin-bottom: 100px;
}

.category-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.category-img {
  width: 120px;
  height: 120px;
  margin: 25px;
}

.wrapper-category-img {
  background-image: url(../images/Ellipse.svg);
}

.category-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: var(--black-color);
  margin-top: 15px;
}

/* О компании */

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.about-images {
  display: flex;
}

.about-image {
  width: 265.5px;
}

.image-group-1 {
  margin-right: 38px;
}

.image-group-2 {
  margin-top: 50px;
}

.about-image-1 {
  margin-bottom: 30px;
}

.about-article {
  max-width: 531px;
}
.about-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
  color: var(--black-color);
  margin-top: 130px;
}
.about-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 50px;
}

.about-icons {
  display: flex;
  justify-content: space-between;
}
.about-icon {
  max-width: 163px;
}
.icon-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--black-color);
  padding-top: 20px;
}

/* Каталог */

.catalog-items{
  display: flex;
  justify-content: space-between;
}

.catalog-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
}

.catalog-header {
  display: flex;
  margin-bottom: 30px;
}

.catalog-menu {
  display: flex;
  margin-left: 70px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: rgba(34, 33, 39, 0.3);
}

.cat-menu-item {
  padding-right: 50px;
}

.item-card {
  max-width: 270px;
}

.item-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-price{
  display: flex;
}

.item-price-discount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.item-price-real {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration-line: line-through;
}

.discount-tag {
  max-width: 51px;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  border-radius: 5px;
  background: #464646;
}

.card-image {
  width: 130px;
  height: 130px;
}

.item-pres {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #4ecc21;
}

.item-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
